@model EBAUExercise.Models.ListModel<OrderByCustomer>

@{
    ViewBag.Title = "OrdersByCustomer";
}

<table class="customer-table" id="#chart2">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Items[0].CustomerId) </th>
        <th> @Html.DisplayNameFor(model => model.Items[0].OrderCount)</th>
        <th> @Html.DisplayNameFor(model => model.Items[0].OrderTotal) </th>
    </tr>
    <tr>
        @if (Model != null)
        {
            @foreach (var item in Model.Items)
            {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.OrderCount</td>
                <td>@item.OrderTotal</td>
            </tr>
            }
        }
    </tr>
</table>
